* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*declaring global color variables*/
:root {
    --black: #282828;
    --grey: #2e2e2e;
    --bright: #cccccc;
    --light: #eeeeee;
    --red: #ff0042;
    --blue: #3f9af3;
}

/*declaring a local font*/
@font-face {
    font-family: "Nunito";
    src: url(./fonts/Nunito/static/Nunito-Light.ttf)
}

/*basic font formatting*/
body {
    background-color: var(--black);
    color: white;
    font-family: "Nunito";
}

header {
    font-family: "Nunito";
    background-color: var(--black);
    color: white;
}

footer {
    text-align: center;
}

h1 {
    font-size: 54px;
    display: inline-block;
    padding: 20px;
}

h2 {
    font-size: 40px;
    display: inline-block;
    padding: 20px;
}

h3 {
    font-size: 32px;
    display: inline-block;
    padding: 20px;
    text-align: center;
    list-style-type: none;
    vertical-align: text-bottom;
}

p {
    font-size: 20px;
    line-height: 1.75;
    padding-left: 20px;
}

.about p {
    margin-right: 60%;
}

/*Hyperlink formatting*/
a {
    color: var(--bright);
}

a:visited {
    color: var(--bright);
}

a:hover {
    color: var(--red);
}

/*Navigation bar formatting*/
nav{
    padding: 30px;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

li {
    text-align: center;
    list-style-type: none;
    margin-left: 35px;
    vertical-align: text-bottom;
}

nav li {
    text-align: center;
    list-style-type: none;
    margin-bottom: 35px;
}

/*image formatting*/
.about {
    background-image: url(./images/banner.png);
    height: 100%;
    width: 100%;
    background-repeat: repeat-x;
}

.mnp img {
    height: 50px;
    width: auto;
}

.works img {
    height: auto;
    width: 300px;
}

/*hover box formatting*/
.mnp {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 25px;
    padding: 10px;
    margin: 20px;
    flex: 1 0 300px;
    box-shadow: 5px 5px 10px 0 black;
    background-color: var(--grey);
}

.content {
    justify-content: space-evenly;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 25px;
    padding: 10px;
    margin: 20px;
    flex: 1 0 300px;
    box-shadow: 5px 5px 10px 0 black;
    background-color: var(--grey);
}

.mnp li {
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    padding: 10px;
    margin: 20px;
    flex: 0 0 100px;
    box-shadow: 5px 5px 10px 0;
}

.works {
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    padding: 10px;
    margin: 20px;
    flex: 0 0 100px;
    box-shadow: 5px 5px 10px 0;
}

.mnp li:hover {
    border-color: var(--blue);
    box-shadow: 5px 5px 10px 0 var(--red);
}

.works:hover {
    border-color: var(--blue);
    box-shadow: 5px 5px 10px 0 var(--red);
}
/* Class Selectors */
.text-center {
    text-align: center;
  }
  
.text-right {
    text-align: right;
  }

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}